# Bun
bun.lockb

# Dependencies
node_modules/

# Build output
dist/
build/

# Environment variables
.env

# Logs
*.log

# Editor-specific files
.vscode/
.idea/

# OS-specific files
.DS_Store
Thumbs.db